%table
  %tr
    %th Date
    %th Time
    %th Tasks
    %th ID
    %th Cuntrolls
  - @tasks.each do |task|
    %tr
      %td=task[:name]
      %td=task[:start_at]
      %td=task[:end_at]
      %td
        =task[:id]
      %td 
        %a{:href => '/update/' + task[:id].to_s} Update
        %a{:href => '/delete/' + task[:id].to_s} Delete 
        %a{:href => '/end/' + task[:id].to_s} End
      %td
  %tr
    %td
      %a{:href => '/new'} Start
    %td= total(@tasks)
    
     
